# *.db          # DB wieder IN Git
# *.sqlite
# *.db-journal
# macOS
.DS_Store

# SQLite Database (nicht in Git!)
*.db
*.sqlite
*.db-journal

# Node.js
node_modules/
package-lock.json

# Logs/Env
*.log
.env
